section > div.desc {
  font-family: TmoneyRoundWindRegular;
}

div.line-1 {
  margin-top: .5em;
}

div.line-4 {
  margin-bottom: .7em;
  width: 30em;
  display: inline-block;
}

div.components {
  text-align: center;
  margin-top: 1em;
}

div.components button {
  margin-left: 1em;
  margin-right: 1em;
  width: 20em;
  height: 3em;
  font-size: 1.05em;
  border-radius: .5em;
  background: #9e9e9e;
  color: #fff;
  opacity: .5;
}
  
div.components button:hover {
  cursor: pointer;
  opacity: 1;
}
  
div.components button .icon {
  margin-right: .5em;
}

div.components section .icon {
    margin-right: .5em;
}

div.components button.hint {
  border: .3em solid #c6c79e;
  background: #8d8d6f;
}

div.components button.answer {
  border: .3em solid #9ec79e;
  background: #628d62;
}

div.components button.regame {
  border: .3em solid #646464;
  background: #252525;
}

div.components button.pass {
  border: .3em solid #646464;
  background: #252525;
  margin-top: .5em;
  opacity: .2;
}

div.components button.pass:hover {
  opacity: 1;
}

div.components section.mode {
  margin-top: .2em;
  margin-bottom: 1em;
  margin-left: .4em;
  margin-right: .4em;
  font-size: 1.2em;
  display: inline-block;
}

div.components div.body {
  display: flex;
  justify-content: center;
}

div.components div.body div.level.active {
  opacity: .8;
}

div.components div.body div.level.active:hover {
  cursor: default;
}

.level-easy {
  color: #6868c0;
}
.level-medium {
  color: #7dc068;
}
.level-hard {
  color: #c07268;
}
.level-random {
  color: #79797a;
}

div.level-easy::after {
  background: #8a8acf;
}
div.level-medium::after {
  background: #5b9649;
}
div.level-hard::after {
  background: #a55b51;
}
div.level-random::after {
  background: #9a9a9b;
}

div.components div.body div.level::after {
  content: "";
  width: 100%;
  display: block;
  height: .2em;
  margin: -.4em 0 0;
}

div.components div.parts-right {
  border: .1em solid #a5a5a5;
  padding-left: .8em;
  padding-right: .8em;
  font-family: "KyoboHand";
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  opacity: .8;
}

div.components div.parts-middle {
  border: .1em solid #a5a5a5;
  padding-left: .8em;
  padding-right: .8em;
  font-family: "KyoboHand";
  padding-top: .2em;
  opacity: .4;
}

div.components div.parts-left {
  border: .1em solid #a5a5a5;
  padding-left: .8em;
  padding-right: .8em;
  font-family: 'KyoboHand';
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
  opacity: .4;
}

div.components section.difficulty div.parts-left {
  padding-top: .1em;
}

div.components section.timer div.parts-left {
  padding-bottom: .1em;
}

div.components section.timer div.parts-left.attack {
  padding-top: .2em;
}

div.components div.parts-left:hover {
  cursor: pointer;
  opacity: .8;
}

div.components div.parts-middle:hover {
  cursor: pointer;
  opacity: .8;
}